<h1>MatchMaker</h1>
<button (click)="find()">Find</button> 
<button (click)="stopTimer()">Stop</button>
{{timer}}
<div class="container" *ngIf="messages.length > 0">
    <div *ngFor="let message of messages">
        <span>{{message}}</span>
    </div>
</div>